<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRkaA2ibsdFB5JyvLDsFN0prQY7qax6NA</string>
	<key>GCM_SENDER_ID</key>
	<string>339863148977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreAppTi43.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>byme-12aeb</string>
	<key>STORAGE_BUCKET</key>
	<string>byme-12aeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339863148977:ios:956f220a1b3f0ae6688590</string>
</dict>
</plist>